<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo-APP</title>
  </head>
  <body>
    <h3>OverDues:<%= dueSizes.dueYes %></h3>
    <h3>Due Today:<%= dueSizes.dueTod %></h3>
    <h3>Future Dues:<%= dueSizes.futureDue %></h3>
  </body>
</html>
